<div class="wrap">
    <div class="info">
        <div class="title">
            ${props.attractions[index].title}
            <div class="close" title="닫기"></div>
        </div>
        <div class="body">
            <div class="img">
                <img src="${props.attractions[index].first_image}" width="73" height="70" alt="아니 상혁아" />
            </div>
            <div class="desc">
                <div class="ellipsis">${props.attractions[index].addr1}</div>
                <div class="jibun ellipsis">(우) ${props.attractions[index].zipcode} (종류) ${props.attractions[0].content_type_id}</div>
            </div>
        </div>
    </div>
</div>
;
